<div>
  Search: <input ng-model="query">
</div>

<div ng-controller='VolunteersCtrl' >
        <ul>
          <li ng-repeat='volunteer in volunteers | filter:query'>
            {{volunteer.name}}, {{volunteer.email}}, {{volunteer.company}}, {{volunteer.skills}}, {{volunteer.time_to_commit}}
          </li>
        </ul>
    </div>


Organizations Interested In:
<ul>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.benetech"> Benetech  </li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.code_for_america"> Code for America  </li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.frontline_sms"> FrontlineSMS</li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.guardian_project"> The guardian project</li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.mozilla_webmaker"> Mozilla Webmaker </li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.amara"> Amara(Universal subtitles) </li>
  <li><input type="checkbox" ng-model="criteria.orgs_interested_in.wikimedia_foundation"> Wikimedia foundation </li>
</ul>

<li><input type="checkbox" ng-model="criteria.skills[Software_Development]"> Software Development  </li>
<li><input type="checkbox" ng-model="criteria.skills[User_Interface_Design]"> User Interface Design  </li>
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.frontline_sms"> Product Management</li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.guardian_project"> Community Management</li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.mozilla_webmaker"> Quality Assurance </li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.amara"> Project Management / Scrummaster </li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.wikimedia_foundation"> Systems Administration </li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.wikimedia_foundation"> Technical Documentation </li>-->
<!--<li><input type="checkbox" ng-model="criteria.orgs_interested_in.wikimedia_foundation"> Technical Support </li>-->