<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">


      <div ng-controller="VolunteersListCtrl">
        <fieldset class="filter">
          <legend>Filter Volunteers</legend>
          <form novalidate>
            <label class="text-filter">Name</label>
            <input class="text-filter" type="text" ng-model="criteria.company">
            <label class="text-filter">Company</label>
            <input class="text-filter" type="text" ng-model="criteria.name">
            <label class="text-filter">Email</label>
            <input class="text-filter" type="text" ng-model="criteria.email">

            <div data-toggle="collapse" data-target="#skills-collapse">
              <label style="padding-left:20px;float:left;">Skills</label>
            </div>

            <div class="collapse" id="skills-collapse" style="float:left;">
              <ul>
                <li ng-repeat="skill in criteria.skills">
                  <input style="padding-left:20px;" type="checkbox" ng-model="skill.checked">
                  {{skill.name}}
                </li>
              </ul>
            </div>
            <div data-toggle="collapse" data-target="#orgs_interested_in-collapse">
              <label style="padding-left:20px;float:left;">Organizations Interested In</label>
            </div>

            <div class="collapse" id="orgs_interested_in-collapse" style="float:left;">
              <ul>
                <li ng-repeat="org in criteria.orgs_interested_in">
                  <input style="padding-left:20px;" type="checkbox" ng-model="org.checked">
                  {{org.name}}
                </li>
              </ul>
            </div>

            <div data-toggle="collapse" data-target="#causes_interested_in-collapse">
              <label style="padding-left:20px; float: left;">Causes Interested In</label>
            </div>

            <div class="collapse" id="causes_interested_in-collapse" style="float:left;">
              <ul>
                <li ng-repeat="cause in criteria.causes_interested_in">
                  <input style="padding-left:20px;" type="checkbox" ng-model="cause.checked">
                  {{cause.name}}
                </li>
              </ul>
            </div>

            <div data-toggle="collapse" data-target="#languages_interested_in-collapse">
              <label style="padding-left:20px;float:left;">Languages Interested In</label>
            </div>

            <div class="collapse" id="languages_interested_in-collapse" style="float:left;">
              <ul>
                <li ng-repeat="language in criteria.languages_interested_in">
                  <input style="padding-left:20px;" type="checkbox" ng-model="language.checked">
                  {{language.name}}
                </li>
              </ul>
            </div>

            <div data-toggle="collapse" data-target="#time_to_commit-collapse">
              <label style="padding-left:20px;float:left;">Time To Commit</label>
            </div>

            <div class="collapse" id="time_to_commit-collapse" style="float:left;">
              <li ng-repeat="time in criteria.time_to_commit">
                <input style="padding-left:20px;" type="radio" ng-model="time_to_commit.one" value="true"/>
                {{time.name}}
              </li>
            </div>

            <div data-toggle="collapse" data-target="#open_source_projects-collapse">
              <label style="float:left; padding-left: 20px;">Open Source Projects</label>
            </div>

            <div class="collapse" id="open_source_projects-collapse" style="float:left;">
              <ul>
                <li ng-repeat="answer in criteria.open_source_projects">
                  <input type="radio" ng-model="criteria.open_source_answer" value="{{answer.search_value}}"  />
                  {{answer.name}}
                </li>
              </ul>
            </div>
            <div style="float:left; padding-left: 20px;">
            <button ng-click="filter()" class="btn">Filter</button>
            </div>
          </form>
        </fieldset>

        <div>
          <ul style="clear: both;">
            <li ng-repeat="volunteer in volunteers" class="profile">
              <a href="#"><img src="./assets/profile_placeholder.png"/></a>

              <div style="padding-left: 50px; padding-top: 10px; float:left; text-align:left;">
                <h4 style="text-align: left;">{{volunteer.name}}</h4>
                <a href="http://www.linkedin.com">{{volunteer.name}}'s LinkedIn Profile</a>

                <p>Email: {{volunteer.email}}</p>

                <p>Company: {{volunteer.company}}</p>

                <p>Interested In: {{volunteer.orgs_interested_in.to_sentence}}</p>
              </div>
            </li>
          </ul>
        </div>

    </div>
  </div>
</div>
</div>