<div class="span2">
  <!--Sidebar content-->

  Search: <input ng-model="query">
</div>
<div>
<ul style="clear: both;">
  <li ng:repeat="volunteer in volunteers | filter:query">
    {{volunteer.name}}, {{volunteer.email}}, {{volunteer.company}}, {{volunteer.skills}}, {{volunteer.time_to_commit}}
  </li>
</ul>
</div>
