
<div ng-controller="VolunteersListCtrl" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="span4" style="padding-left: 100px;">

      <fieldset class="filter">
        <legend>Filter Volunteers</legend>
        <form novalidate>
          <label>Name</label>
          <input type="text" ng-model="criteria.name">
          <label>Company</label>
          <input type="text" ng-model="criteria.company">
          <label>Email</label>
          <input type="text" ng-model="criteria.email">

          <div class="accordion-group">
            <div class="accordion-heading">
              <a href="#skills-collapse" onclick="return toggleElement('skills-collapse')">
                <label>Skills</label>
              </a>
            </div>
            <div style="display:none;" id="skills-collapse">
              <ul>
                <li ng-repeat="skill in criteria.skills">
                  <input type="checkbox" ng-model="skill.checked">
                  {{skill.name}}
                </li>
              </ul>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a href="#orgs_interested_in-collapse" onclick="return toggleElement('orgs_interested_in-collapse')">
                <label>Organizations Interested In</label>
              </a>
            </div>
            <div style="display:none;" id="orgs_interested_in-collapse">
              <ul>
                <li ng-repeat="org in criteria.orgs_interested_in">
                  <input type="checkbox" ng-model="org.checked">
                  {{org.name}}
                  </input>
                </li>
              </ul>
            </div>
          </div>

          <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#causes_interested_in-collapse" onclick="return toggleElement('causes_interested_in-collapse')">
              <label>Causes Interested In</label>
            </a>
          </div>
          <div style="display:none;" id="causes_interested_in-collapse">
            <ul>
              <li ng-repeat="cause in criteria.causes_interested_in">
                <input type="checkbox" ng-model="cause.checked">
                {{cause.name}}
                </input>
              </li>
            </ul>
          </div>
        </div>


          <div class="accordion-group">
            <div class="accordion-heading">
              <a href="#languages_interested_in-collapse" onclick="return toggleElement('languages_interested_in-collapse')">
                <label>Languages Interested In</label>
              </a>
            </div>
            <div style="display:none;" id="languages_interested_in-collapse">
              <ul>
                <li ng-repeat="language in criteria.languages_interested_in">
                  <input type="checkbox" ng-model="language.checked">
                  {{language.name}}
                  </input>
                </li>
              </ul>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a href="#time_to_commit-collapse" onclick="return toggleElement('time_to_commit-collapse')">
                <label>Time to Commit</label>
              </a>
            </div>
            <div style="display:none;" id="time_to_commit-collapse">
              <ul>
                <li ng-repeat="time in criteria.time_to_commit">
                  <input type="radio" ng-model="criteria.time_selected" value="{{time.search_value}}">
                  {{time.name}}
                  </input>
                </li>
              </ul>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a href="#open_source_projects-collapse" onclick="return toggleElement('open_source_projects-collapse')">
                <label>Open Source Projects</label>
              </a>
            </div>
            <div style="display:none;" id="open_source_projects-collapse">
              <ul>
                <li ng-repeat="answer in criteria.open_source_projects">
                  <input type="radio" ng-model="criteria.open_source_answer" value="{{answer.search_value}}">
                  {{answer.name}}
                  </input>
                </li>
              </ul>
            </div>
          </div>

          <button ng-click="filter()" class="btn">Filter</button>
          <button class="btn" type="reset" value="Reset">Reset</button>
        </form>
      </fieldset>
    </div>
    <div class="span8 scrollbox" style="padding-top: 50px;">
      <ul style="clear: both;">
        <li ng-repeat="volunteer in volunteers" class="profile">
          <a href="#"><img src="./assets/profile_placeholder.png"/></a>

          <div style="padding-left: 50px; padding-top: 10px; float:left; text-align:left;">
            <h4 style="text-align: left;">
              <a href="/volunteers/{{volunteer.id}}">
              {{volunteer.name}}</a></h4>
            <a href="http://www.linkedin.com">{{volunteer.name}}'s LinkedIn Profile</a>

            <p>Email: {{volunteer.email}}</p>

            <p>Company: {{volunteer.company}}</p>

            <p>Interested In: {{volunteer.orgs_interested_in.to_sentence}}</p>

            <p>Time to Commit: {{volunteer.time_to_commit}}</p>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>