<div class="span2" ng-controller="VolunteersListCtrl">
  <!--Sidebar content-->

  <form novalidate>
    Name: <input type="text" ng-model="criteria.name">
    Company: <input type="text" ng-model="criteria.company">

    <button ng-click="filter()">filter</button>
  </form>

  <div>
    <ul style="clear: both;">
      <li ng-repeat="volunteer in volunteers">
        {{volunteer.name}}, {{volunteer.email}}, {{volunteer.company}}, {{volunteer.skills}}, {{volunteer.time_to_commit}}
      </li>
    </ul>
  </div>
</div>