$scroll-height: 40em;

.filter{
  margin-left: 50px;
  float: left;
  padding: 10px;
  border:4px solid #fff;
  background-color: white;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:1 5px 10px rgba(0,0,0,.25);
  -moz-box-shadow:1 5px 10px rgba(0,0,0,.25);
  box-shadow:1px 5px 10px rgba(0,0,0,.25)
}

ul,li{
  list-style-type: none;
}

.scrollbox {
  margin-top: 20px;
  height: $scroll-height;
  overflow: auto;
}

li.profile{
  display: inline-block;
  height:240px;
  width: 400px;
  padding:10px;
  margin: 10px;
  overflow:auto;
  border:1px;
  background-color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  padding-left: 20px;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.25);
  box-shadow:1px 1px 10px rgba(0,0,0,.25);
}


#wrapper {
  .text-content{
    float:left;
    width:270px;
    margin-left:10px;
    span {
      display: inline;
      a {
        color: blue;
      }
    }
  }
  .caption{
    float:left;
    width:100px;
  }
}

.small-icon {
  width:20px;
  height:20px;
  margin-left: 5px;
  float:right;
}

#exportBtn{
  float:right;
  margin-right: 160px;
  margin-bottom: 30px;
}
