$scroll-height: 40em;

.filter{
  margin-left: 15%;
  margin-right: 10%;
  //margin-top: 10%;
  float: left;
  padding: 3%;
  //margin:20px auto 6px;
  //padding:15px;
  border:4px solid #fff;
  background-color: white;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:1 5px 10px rgba(0,0,0,.25);
  -moz-box-shadow:1 5px 10px rgba(0,0,0,.25);
  box-shadow:1px 5px 10px rgba(0,0,0,.25)
}

ul,li{
  list-style-type: none;
}

.scrollbox {
  height: $scroll-height;
  overflow: auto;
}

.two-column-view{
  columns: 410px 2;
  column-gap: 1em;
  -moz-columns: 410px 2;
  -moz-column-gap: 1em;
  -webkit-columns: 410px 2;
  -webkit-column-gap: 1em;
  margin-top: 1.5%;
}

li.profile:last-child {
  margin-bottom: 300px;
}

li.profile{
  height:240px;
  width: 80%;
  padding:10px;
  //margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow:auto;
  border:1px;
  background-color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  padding-left: 20px;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.25);
  box-shadow:1px 1px 10px rgba(0,0,0,.25);
}

.small-icon {
  width:20px;
  height:20px;
  margin-left: 5px;
  float:right;
}