// Place all the styles related to the Volunteers controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.profile{
  background-color:white;
  height:200px;
  width: 600px;
  padding:5px;
  text-align:center;
  overflow:hidden;
  border:1px;
  background-color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding-left: 20px;
  -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.25);
  -moz-box-shadow:3px 3px 3px rgba(0,0,0,.25);
  box-shadow:1px 1px 15px rgba(0,0,0,.25)
}

img{
  float: left;
  position:relative;
  margin:20px auto 6px;
  display:block;
  width:150px;
  height:150px;
  border:4px solid #fff;
  background-color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.25);
  box-shadow:0 1px 1px rgba(0,0,0,.25)
}

.filter{
  float: left;
  margin:20px auto 6px;
  padding:15px;
  border:4px solid #fff;
  background-color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.25);
  box-shadow:1px 5px 10px rgba(0,0,0,.25)
}

.text-filter {
  padding-left: 20px;
  padding-right: 10px;
  float:left
}


.scrollbox {
  width:650px;
  height:600px;
  line-height:3em;
  overflow:scroll;
  padding-top:50px
}